<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo - Editing</title>
    <link rel="stylesheet" href="/static/styles/edit.css">
    <script src="https://kit.fontawesome.com/c2d72c318c.js" crossorigin="anonymous"></script>
    
    <script>
        /*
        function load_values(dog){
            document.getElementById("name_input").value = dog.name;
            document.getElementById("age_input").value = dog.age;
            document.getElementById("sex_input").value = dog.sex;
            document.getElementById("breed_input").value = dog.breed;
            document.getElementById("location_input").value = dog.location;
        }
        */
        
        window.onload = function(){
            document.getElementById("name_input").value = '{{ name }}';
            document.getElementById("age_input").value = {{ age }};
            document.getElementById("sex_input").value = '{{ sex }}';
            document.getElementById("breed_input").value = '{{ breed }}';
            document.getElementById("location_input").value = '{{ location }}';
            document.getElementById("id_hidden").value = '{{ id }}';
            document.getElementById("image").src = "/static/images/" + {{ id }} + ".png";
        }
        
        
    </script>
</head>

<body>
    <center>
        
        <h1>Scout</h1>
        
        <div class="dogImageDiv">
            <img class="dogImage" id="image" alt="A picture of your dog">
            
        </div>
        
        <br>
        
        
        
        <form method="post" action="/edit" enctype="multipart/form-data">
            <input type="file" name="image_input" class="img_upload" accept=".png, .jpg">
            
            <div class="infoDiv">
                <p class="info"><b>Name:</b>
                    <input class="text_box" id="name_input" name="name_input" minlength="1" maxlength="20">
                </p>
            </div>

            <div class="infoDiv">
                <p class="info"><b>Age:</b>
                    <input type="number" class="number" id="age_input" name="age_input" min="1" max="20">
                </p>
            </div>

            <div class="infoDiv">
                <p class="info"><b>Sex:</b>
                    <select class="select_box_short" id="sex_input" name="sex_input">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </p>
            </div>

            <div class="infoDiv">
                <p class="info"><b>Breed:</b>
                    <input class="text_box" id="breed_input" name="breed_input" minlength="1" maxlength="50">
                </p>
            </div>

            <div class="infoDiv">
                <p class="info"><b>Location:</b>
                    <select class="select_box_long" id="location_input" name="location_input" >
                        <optgroup label="England">
                            <option>Bedfordshire</option>
                            <option>Berkshire</option>
                            <option>Bristol</option>
                            <option>Buckinghamshire</option>
                            <option>Cambridgeshire</option>
                            <option>Cheshire</option>
                            <option>City of London</option>
                            <option>Cornwall</option>
                            <option>Cumbria</option>
                            <option>Derbyshire</option>
                            <option>Devon</option>
                            <option>Dorset</option>
                            <option>Durham</option>
                            <option>East Riding of Yorkshire</option>
                            <option>East Sussex</option>
                            <option>Essex</option>
                            <option>Gloucestershire</option>
                            <option>Greater London</option>
                            <option>Greater Manchester</option>
                            <option>Hampshire</option>
                            <option>Herefordshire</option>
                            <option>Hertfordshire</option>
                            <option>Isle of Wight</option>
                            <option>Kent</option>
                            <option>Lancashire</option>
                            <option>Leicestershire</option>
                            <option>Lincolnshire</option>
                            <option>Merseyside</option>
                            <option>Norfolk</option>
                            <option>North Yorkshire</option>
                            <option>Northamptonshire</option>
                            <option>Northumberland</option>
                            <option>Nottinghamshire</option>
                            <option>Oxfordshire</option>
                            <option>Rutland</option>
                            <option>Shropshire</option>
                            <option>Somerset</option>
                            <option>South Yorkshire</option>
                            <option>Staffordshire</option>
                            <option>Suffolk</option>
                            <option>Surrey</option>
                            <option>Tyne and Wear</option>
                            <option>Warwickshire</option>
                            <option>West Midlands</option>
                            <option>West Sussex</option>
                            <option>West Yorkshire</option>
                            <option>Wiltshire</option>
                            <option>Worcestershire</option>
                        </optgroup>
                        <optgroup label="Wales">
                            <option>Anglesey</option>
                            <option>Brecknockshire</option>
                            <option>Caernarfonshire</option>
                            <option>Carmarthenshire</option>
                            <option>Cardiganshire</option>
                            <option>Denbighshire</option>
                            <option>Flintshire</option>
                            <option>Glamorgan</option>
                            <option>Merioneth</option>
                            <option>Monmouthshire</option>
                            <option>Montgomeryshire</option>
                            <option>Pembrokeshire</option>
                            <option>Radnorshire</option>
                        </optgroup>
                        <optgroup label="Scotland">
                            <option>Aberdeenshire</option>
                            <option>Angus</option>
                            <option>Argyllshire</option>
                            <option>Ayrshire</option>
                            <option>Banffshire</option>
                            <option>Berwickshire</option>
                            <option>Buteshire</option>
                            <option>Cromartyshire</option>
                            <option>Caithness</option>
                            <option>Clackmannanshire</option>
                            <option>Dumfriesshire</option>
                            <option>Dunbartonshire</option>
                            <option>East Lothian</option>
                            <option>Fife</option>
                            <option>Inverness-shire</option>
                            <option>Kincardineshire</option>
                            <option>Kinross</option>
                            <option>Kirkcudbrightshire</option>
                            <option>Lanarkshire</option>
                            <option>Midlothian</option>
                            <option>Morayshire</option>
                            <option>Nairnshire</option>
                            <option>Orkney</option>
                            <option>Peeblesshire</option>
                            <option>Perthshire</option>
                            <option>Renfrewshire</option>
                            <option>Ross-shire</option>
                            <option>Roxburghshire</option>
                            <option>Selkirkshire</option>
                            <option>Shetland</option>
                            <option>Stirlingshire</option>
                            <option>Sutherland</option>
                            <option>West Lothian</option>
                            <option>Wigtownshire</option>
                        </optgroup>
                        <optgroup label="Northern Ireland">
                            <option>Antrim</option>
                            <option>Armagh</option>
                            <option>Down</option>
                            <option>Fermanagh</option>
                            <option>Londonderry</option>
                            <option>Tyrone</option>
                        </optgroup>
                    </select>
                </p>
            </div>
            
            <input type="hidden" id="id_hidden" name="id_hidden">

            {% block content %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}
            
            <div>
                <button class="submit_button" type="submit" name="button" value="submit">Submit</button>
            </div>
            
            <div>
                <button class="delete_button" name="button" value="delete">Delete</button>
            </div>
        </form>
        
        
        
        
    </center>
</body>

</html>