<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo - Editing</title>
    <link rel="stylesheet" href="/static/styles/dogs.css">
    <script src="https://kit.fontawesome.com/c2d72c318c.js" crossorigin="anonymous"></script>
</head>

<body>
    <center>
        
        <h1>Scout</h1>
        
        <div class="dogImageDiv">
            <img class="dogImage" src="{{url_for('static', filename='Scout.jpg')}}" alt="A picture of your dog">
        </div>
        
        
        
        
        
    </center>
</body>

</html>