<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo - Log In</title>
    <link rel="stylesheet" href="/static/styles/dogs.css">
</head>

<body>
    <center>
        <h1>My Dogs</h1>
        
        <hr>
        
        <div class="dogListing">
            <div class="dogImageDiv">
                <img class="dogImage" src="{{url_for('static', filename='Scout.jpg')}}" alt="A picture of your dog">
            </div>
            
            <div class="dogLeftPane">
                <p class="dogName">Scout</p>
                <p class="info">Age: 7</p>
                <p class="info">Gender: M</p>
                <p class="info">Breed: Chocolate Labrador</p>
            </div>
            
            <div class="dogRightpane">
                <p class="info">test</p>
            </div>
            
            
            
        </div>
        

    </center>
    
</body>

</html>