<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo - Home</title>
    <link rel="stylesheet" href="/static/styles/home.css">
    <script src="https://kit.fontawesome.com/c2d72c318c.js" crossorigin="anonymous"></script>
</head>

<body>
    <center>
        <div class="container">
        
            <div class="titleDiv">
                <h1>Feed</h1>
            </div>

            <div class="feed">
                {% block content %}
                    {% for report in reports %}

                        <div class="report">
                            <div class="dogImageDiv">
                                <img class="dogImage" src="{{url_for('static', filename='DogGo_Placeholder.png')}}" alt="A picture of the reported dog">
                            </div>

                            <div class="infoDiv">
                                <p class="name">{{ report.name }}</p>
                                <p class="info">Lost on: {{ report.date }}</p>
                                <p class="info">Lost in: {{ report.location }}</p>

                            </div>
                            
                            <div class="buttonDiv">
                                <a href="/contact" class="phoneButton"><i class="fas fa-phone-flip"></i></a>
                            </div>
                            
                            

                        </div>

                    {% endfor %}
                {% endblock %}
            </div>

            <div class="navBar">
                <nav>
                    <a href="#" class="navlink"><i class="fas fa-search"></i></a>
                    <a href="/dogs" class="navlink"><i class="fas fa-paw"></i></a>
                    <a href="#" class="navlink"><i class="fas fa-user"></i></a>
                </nav>
            </div>


        </div>
        
        
        
        
    </center>
</body>

</html>