<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="index.css"/>
</head>

<body>
    <div class="container">
        <p class="login-title">Log In</p>
        <form class="login">
            <input type="email" class="input-box" placeholder="Email" required>
            <input type="password" class="input-box" placeholder="Password" required>
        </form>
        <p class="test">This is test text.</p>
    </div>
</body>

</html>