<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo - Log In</title>
    <link rel="stylesheet" href="/static/styles/auth.css">
</head>

<body>
    <center>
        <div>
            <img src="{{url_for('static', filename='DogGo_Logo.png')}}" alt="DogGo Logo">
        </div>

        <h1>Log In</h1>

        <form method="post" action="/login">
            <div class="form">
                <input type="email" placeholder="Email" name="email"/>
                <br>
                <input type="password" placeholder="Password" name="password"/>
            </div>

            {% block content %}
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}

            <div class="button">
                <button class="btn btn-primary" type="submit" name="login_button" value="login">Submit</button>
            </div>
        </form>


        <div class="links">
            <a href="register" style="font-family: 'DogGo';">Need an account? Create one here</a>
        </div>

    </center>
    
</body>

</html>