<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DogGo</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1 style="margin: 26px;margin-top: 20px;margin-right: 25px;margin-bottom: 25px;margin-left: 25px;width: 136px;font-weight: bold;">Log In</h1>

    <form method="post">
        <div style="margin: 10px;margin-left: 25px;">
            <input type="email" style="border-radius: 15px;transform: translate(0px);width: 300px;margin: 0px;border-color: var(--bs-gray-500);" placeholder="Email" name="email"/>
        </div>
        <div style="margin: 10px;margin-left: 25px;">
            <input type="password" style="border-radius: 15px;width: 300px;border-color: var(--bs-gray-500);" placeholder="Password" name="password"/>
        </div>
        <div style="margin: 20px;margin-left: 25px;">
            <button class="btn btn-primary" type="submit" name="login_button" value="login">Log In</button>
        </div>
        <a href="register" style="padding:25px;">Create an account</a>
    </form>
</body>

</html>