div.dogImageDiv {
    order: 1;
    display: inline-block;
    width: 200px;
    height: 200px;
    flex: none;
    border: 1px solid #1F363D;
    position: relative;
}

div.infoDiv {
    border-bottom: 1px solid #1F363D;
    width: 1000px;
    height: 100px;
}

input.img_upload {
    border: none;
    margin: 20px;
    width: 200px;
}

.imageUploadDiv {
    width: 13vw;
    overflow: hidden;
}

img.dogImage {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin: auto;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}

h1 {
    font-weight: bold; 
    margin: 30px; 
    color:#1F363D; 
    font-family: "DogGo"; 
    font-size: 60px;
}

p.info {
    color: #1F363D;
    font-family: "DogGo";
    font-size: 38px;
    margin: 0;
    padding: 8px;
}

input.text_box {
    width: 400px; 
    border: 1px solid;
    background-color: #E8F3F1;
    font-family:"DogGo";
    font-size: 38px;
    color: #1F363D;
    padding:5px; 
    margin:5px; 
    outline:none;
}

select {
    margin: 10px;
    font-family: "DogGo";
    color: #1F363D;
    font-size: 38px;
    border-color:#1F363D;
    background-color: #E8F3F1;
}

select.select_box_short {
    width: 100px;
}

select.select_box_long {
    width: 400px;
}

select:focus {
    border-color: #F2B5D4;
}

@media screen and (max-width: 1200px){
    div.infoDiv {
        width: 80vw;
    }
}

input:focus {
    border-color: #F2B5D4;
}

button {
    background-color: #7BDFF2; 
    border: none; 
    border-radius: 8px; 
    padding: 10px;
    margin: 20px;
    font-family:"DogGo"; 
    font-size: 30px; 
    color: #1F363D; 
    transition-duration: 0.4s;
}

button:hover {
    background-color: #F2B5D4; 
    box-shadow: 0px 5px 15px #1F363D40;
}

body {
    background-color:#DAF2EE
}

@font-face {
    font-family: "DogGo"; src:url('/static/mvboli.ttf');
}