div.container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.titleDiv {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #1F363D;
}

div.feed {
    overflow: auto;
    width: 100%;
    height: 75vh;
}

div.report {
    border-bottom: 1px solid #1F363D;
    height: 20vw;
    display: flex;
}

div.dogImageDiv {
    display: inline-block;
    order: 1;
    flex: none;
    position: relative;

    height: 90%;
    width: 30%;
    margin: 5px;
}

div.infoDiv {
    display: inline-block;
    order: 2;
    flex: none;

    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

div.buttonDiv {
    display: inline-block;
    order: 3;
    flex: none;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

div.navBar {
    width: 100%;
    background-color: #DAF2EE;
    height: 5vh;
}

nav {
    background-color: #0000;
    font: 8vh "DogGo";
    border-top: 2px solid #1F363D;
}

a.navlink {
    margin: 0 5%;
}

a.phoneButton {
    font-size: 4vw;
}

p.name {
    font: bold 4vw "DogGo";
    color: #1F363D;
    margin: 10px 0;
}

p.info {
    font: 2.5vw "DogGo";
    color: #1F363D;
    margin: 0;
}

img {
    object-fit: cover;

    margin: 5px;
    height: 100%;
    width: 100%;
    border: 1px solid #1F363D;
    
}

i {
    color: #1F363D;
    transition-duration: 0.4s;
}

i:hover {
    color: #F2B5D4;
}

h1 {
    font-weight: bold; 
    margin: 0; 
    color:#1F363D; 
    font-family: "DogGo"; 
    font-size: 60px;
    position: relative;
    top: -10px;
}

hr {
    background-color: #1F363D;
    height: 1.5px;
    border-width: 0;
    margin: 0;
}

body {
    background-color:#DAF2EE
}

@font-face {
    font-family: "DogGo"; src:url('/static/mvboli.ttf');
}